<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="pimads4" connectionString="Data Source=DESKTOP-62JOGHE\SQLEXPRESS;Initial Catalog=pimads4;Integrated Security=True" />
  </connectionStrings>
   
<!--  Data Source=RUKANOTE\SQLEXPRESS;Initial Catalog=pimads4;User ID=sa;Password=admin01 -->
</configuration>